<a href="https://colab.research.google.com/github/dikshaselopal/py-assignments/blob/master/had6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
EXECUTE THE COMMAND PRINT "DOUBLE QUOTES"
PRINT "SINGLE QUOTES"
PRINT ''' MULTILINE'''
STRING1='HELLO WORLD'
STRING2= "WE'RE HERE#1!"
STRING3='1234'
STRING4="I SAID, "PULL IT OVER BY THE LLAMMA"
NUMBER = 12
FLOAT = 3.14
In [1]:
##PRINTING WITH DOUBLE QUOTES
print ("DOUBLE QUOTES")
DOUBLE QUOTES
In [2]:
##printing with single quotes
print('single quotes')
single quotes
In [3]:
##printing with triple quotes in multiple line
print('''
hii
i m
using multiline''')
hii
i m
using multiline
In [4]:
##printing a string with single quotes
string1='HELLO WORLD'
print(string1)
HELLO WORLD
In [5]:
##printing a string containing numbers
string2='1234'
print(string2)
1234
In [6]:
##printing a string containing "WE'RE HERE#1!
string3="WE'RE HERE#1!"
print(string3)
WE'RE HERE#1!
In [7]:
##printing a string containing 'I SAID, "PULL IT OVER BY THE LLAMMA"'
string4=''' 'I SAID, "PULL IT OVER BY THE LLAMMA"' '''
print(string4)
 'I SAID, "PULL IT OVER BY THE LLAMMA"' 
In [8]:
##printing a number12
number= 12
print(number)
12
In [9]:
##printing a float 3.14
float= 3.14
print(float)
3.14
In [0]:
USING TYPE() TO CHECK THE DATATYPE OF THE CREATED VARIABLE
In [0]:
age = 3.14
print( type( age ))
In [0]:
**EXECUTE THE FOLLOWING
MOVIES=['AVENGER','SPIDERMAN','SUPERMAN']
MOVIES=('AVENGER','SPIDERMAN','SUPERMAN')**
In [37]:
##PRINTING THE CODE USING LIST AND TUPLE
movies_list=['AVENGER','SPIDERMAN','SUPERMAN']
movies_tuple=('AVENGER','SPIDERMAN','SUPERMAN')
print(movies_list)
print(movies_tuple)
['AVENGER', 'SPIDERMAN', 'SUPERMAN']
('AVENGER', 'SPIDERMAN', 'SUPERMAN')